@import url(https://fonts.googleapis.com/css?family=Ubuntu);
#color-grid {
  display: flex;
  flex-wrap: wrap;
}
#color-grid > div {
  text-align: center;
  width: 150px;
  margin: 15px;
  overflow: hidden; 
}

.color-unit {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  height: 100px;
  width: 100px;
  padding: 20px;
  margin-bottom: 10px;
}

.name {
  margin-bottom: 0;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
}

.count {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 60px;
  padding: 0 20px;
  background: white;
}


