<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>COLOR VOTE Angular/Firebase color voting system</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/normalize.css">

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css'>

    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <br />
<div ng-app="App" ng-controller="AppCtrl" class="container">
  	<h2>投票後台 <i class="fa fa-bullhorn"></i></h2>
  	
	 <div>
    <input type="text" placeholder="name" ng-model="name" />
    <button ng-click="add()">增加後選人</button>
  	</div>
	<div>

		<label>活動開關: 
			<input type="checkbox" ng-model="flag.checked" ng-change="change(flag)"/>
		</label>
  	</div>

</div>
  <script src='https://cdn.firebase.com/js/client/2.2.4/firebase.js'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js'></script>
  <script src='https://cdn.firebase.com/libs/angularfire/1.1.4/angularfire.min.js'></script>
  <script src="js/index.js"></script>
 </body>
</html>
